* {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 10px "Helvetica Neue";
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #868174;
}

#upper-content {
  position: absolute;
  width: 100%;
  left: 30px;
  top: 30px;
}

#upper-content p {
  width: 300px;
  padding-top: 10px;
  font-size: 14px;
}

#lower-content {
  position: absolute;
  width: 100%;
  left: 30px;
  bottom: 20px;
}

#lower-content p {
  padding-top: 2px;
  font-size: 10px;
  width: 100%;
}

#chart {
  margin-top: 50px;
  /*margin-left: 25%;*/
  /*width: 70%;*/
}

/*.title {
  position: relative;
  font-size: 24px;
}*/

.name {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.user-salary {
  padding-top: 40px;
  /*position: absolute;*/
  /*right: calc(50% - 150px / 2);*/
  /*top: 25px;*/
  /*color: #868174;*/
}

.user-salary .currency {
  position: relative;
  left: -64px;
  top: 20px;
  /*font-size: 14px;*/
  /*color: RGBA(186, 184, 175, 1)*/
}

/*.user-salary .prompt {
  position: absolute;
  left: -10px;
  top: 12px;
  font-size: 14px;
}*/


input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 6px;
  width: 150px;
  font-size: 18px;
  outline: none;
  background-color: RGBA(0, 140, 112, 0);
  color: RGBA(0, 140, 112, 1);
  border-bottom: 1px solid white;
  /*text-align: center;*/
  border-radius: 8px;
}

/*FOR TESTING*/
svg {
  /*background-color: RGBA(186, 184, 175, 1);*/
}
