* {
  /*overflow: hidden;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 10px "Helvetica Neue";
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: RGBA(186, 184, 175, 1);
  font-weight: 300;
}

#upper-content {
  position: absolute;
  width: 100%;
  left: 30px;
  top: 40px;
}

#lower-content {
  position: absolute;
  width: 100%;
  left: 30px;
  bottom: 20px;
}

#lower-content p {
  width: 500px;
  padding-bottom: 20px;
  font-size: 14px;
}

#lower-content p.label {
  padding-top: 2px;
  padding-bottom: 0;
  font-size: 10px;
  width: 100%;
}

#chart {
  margin-top: 70px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.name {
  position: absolute;
  bottom: 0;
  right: 50px;
}

/*
Basic input element using psuedo classes
*/

input:focus {
  outline: 0;
}
/* Question */

input.question {
  font-size: 36px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 50%;
  margin-left: 18px;
  color: RGBA(186, 184, 175, 1);
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question:focus {
  color: RGBA(134, 129, 116, 1);
}

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 20%;
  border-top: 1px solid RGBA(255, 109, 24,1);
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: calc(100% - 60px);
}

input.question:focus,
input.question:valid {
  padding-top: 24px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -74px;
  font-size: 22px;
  color: RGBA(186, 184, 175, 1);
}

input.question:invalid + label > span {
  -webkit-animation: color_change 3s infinite alternate;
  -moz-animation: color_change 3s infinite alternate;
  -ms-animation: color_change 3s infinite alternate;
  -o-animation: color_change 3s infinite alternate;
  animation: color_change 3s infinite alternate;
}

input.question:invalid + label > .currency {
  display: none;
}

input.question:valid + label > .currency {
  position: absolute;
  top: -38px;
  font-size: 22px;
}

input.question:valid + label {
  border-color: RGBA(0, 140, 112, 1);
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: RGBA(134, 129, 116, 1);
  font-size: 36px;
  top: -50px;
  left: 0px;
  z-index: 1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}


/*PULSATING TEXT*/
@-webkit-keyframes color_change {
 from { color: RGBA(186, 184, 175, 1); }
 to { color: RGBA(255, 109, 24, 0.3); }
}
@-moz-keyframes color_change {
 from { color: RGBA(186, 184, 175, 1); }
 to { color: RGBA(255, 109, 24, 0.3); }
}
@-ms-keyframes color_change {
 from { color: RGBA(186, 184, 175, 1); }
 to { color: RGBA(255, 109, 24, 0.3); }
}
@-o-keyframes color_change {
 from { color: RGBA(186, 184, 175, 1); }
 to { color: RGBA(255, 109, 24, 0.3); }
}
@keyframes color_change {
 from { color: RGBA(186, 184, 175, 1); }
 to { color: RGBA(255, 109, 24, 0.3); }
}
